* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #2c003e, #001f5c);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

/* Header */
header {
    background-color: black;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header h1 {
    text-align: center;
    margin-left: 15px;
}



/* Imagem de perfil */
.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}

/* Links sociais */
.social-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.social-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 50px;
    transition: background 0.3s;
}

.social-link img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.social-link:hover {
    background-color: #333;
}

/* Rodapé */
footer {
    background-color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

main{
    margin-left: 40% !important;
    margin-right: 40% !important;
}
